html {
  --main-color: #1c1c1c;
  --secondary-color: #4a4a4a;
  --white-color: #f0f0f0;
  --brighter-color: #9c9c9c;
  --darker-color: #0C0C0C;

  --debug-panel-width: 350px;
  font-family: Source Code Pro, monospace, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: var(--brighter-color);
}

#canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
}

#controls {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;
}

#controls p {
  display: inline;
}

#side-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--debug-panel-width);
  height: 100%;
}

#debug-panel {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  overflow: scroll;
  border-left: 1px solid var(--white-color);
}

.debug-item {
  display: inline-block;
  padding-top: 1em;
  width: 100%;
  aspect-ratio: 1 / 1;
}

#debug-header {
  align-self: stretch;
  color: var(--white-color);
}

td.debug-text {
  text-align: right;
}

#debug-header td.stat-name {
  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.debug-item>div:nth-child(1) {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 1px solid var(--white-color);
}

.debug-item>div:nth-child(2) {
  color: var(--white-color);
  width: 100%;
  margin-top: 0.5em;
}

.panel-slider {
  position: fixed;
  top: 50%;
  right: calc(var(--debug-panel-width) - 11px);
  cursor: ew-resize;

  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  border-radius: 50%;

  text-align: center;
  color: var(--white-color);
}

#gui {
  display: inline-block;
  position: absolute;
  left: 0;
  transform: translateX(-100%) translateX(-1em);
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white-color);
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: small;
  transform: translate(-50%, 10px);

  position: absolute;
}

.tooltip:hover .tooltiptext {
  transition-delay: 0.1s;
  visibility: visible;
}

.dg.gui-customized *{
  font-family: Source Code Pro, monospace;
  font-size: 11px;
}

.dg.gui-customized .c .slider-fg {
  background: var(--brighter-color);
}

.dg.gui-customized .c .slider:hover .slider-fg {
  background: var(--white-color);
}

.dg.gui-customized .cr.function {
  border-left: 3px solid var(--secondary-color);
}

.dg.gui-customized .cr.function:hover {
  border-left: 3px solid var(--brighter-color);
}

.dg.gui-customized .cr.number {
  border-left: 3px solid var(--secondary-color);
}

.dg.gui-customized .cr.number:hover {
  border-left: 3px solid var(--brighter-color);
}

.dg.gui-customized .cr.boolean {
  border-left: 3px solid var(--secondary-color);
}

.dg.gui-customized .cr.boolean:hover {
  border-left: 3px solid var(--brighter-color);
}


.dg.gui-customized .cr.number input[type="text"] {
  color: var(--white-color);
}

.dg.gui-customized .c input[type="checkbox"] {
  accent-color: var(--white-color);
}

